@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

html, body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(188, 211, 253);
    text-align: center;
};

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
    position: relative;

}

#image {
    width: 100vh;
    height: auto;
    padding-top: 1em;
    margin: auto;
}

@media only screen and (max-width: 400px) {
    #main {
      margin-left:-10px;
}
};