@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

html, body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(188, 211, 253)
};

@media only screen and (max-width: 400px) {
    #main {
      margin-left:-10px;
}
};